html, body {
    margin: 0px;
    min-width: 100%;
}

#topbar {               
    width: auto;
    margin: 0 auto;
    background-color: seashell;
    height: 40px;
}

#fblogo {
     margin-top: 5px;
     width: 90px;
     margin-right: 20px;
     float: left;
     margin-left: 3px;
     height: 30px;
    width: 30px;
}
ul{
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    margin: 0px;
    padding: 20px;
}
ul li {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-family: big john;
}
ul li a {
    text-decoration: none;
    color: black;
    padding: 20px;
}
ul li a:hover {
    background-color: bisque;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    margin: 0px;
    border-radius: 10px;
}
footer {
    background-color: white;
    text-align: center;
    color: black;
    margin: auto;
    padding: 40px;
    position:absolute;
    right:0px;top:780px;left:0px;bottom:10px;
}

img.cover {
    background-size: cover;
    background-position: center;
    max-width: 100%;
    margin: 0px;
}
.first-parg {
    position: absolute;
    top:0px;left:0px;right:0px;bottom:0px;
    margin:0px;
}
.first-parg p {
    text-align:center;
    color: peachpuff;
    display:block;
    margin-top:-530px;
    font-size:40pt;
    font-family: big john;
}
.first-parg-about {
    position: absolute;
    top:0px;left:0px;right:0px;bottom:0px;
    margin:0px;
}
.first-parg-about p {
    text-align: center;
    color: palegoldenrod;
    display:block;
    margin-top:-530px;
    font-size:40px;
    font-style: italic;
}
.first-parg-interests {
    position: absolute;
    top:0px;left:0px;right:0px;bottom:0px;
    margin:0px;
}
.first-parg-interests p {
    text-align: center;
    color: palegoldenrod;
    display:block;
    margin-top:-530px;
    font-size:40px;
    font-style: italic;
}
.first-parg-contact {
    position: absolute;
    top:0px;left:0px;right:0px;bottom:0px;
    margin:0px;
}
.first-parg-contact p {
    text-align: center;
    color: palegoldenrod;
    display:block;
    margin-top:-530px;
    font-size:40px;
    font-style: italic;
}